// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #3AB4F2;
$yellow: #F6E659;
$orange: #E67E22;
$green: #1EDD88;
$gray: #F2F2F2;
$light-gray: #FAFAFA;
$navy: #06283D;
$black: rgb(17, 17, 17)
