.banner {
  display: flex;
}

h1 {
  font-size: 50px;
}

h2{
  font-size: 30px;
  font-family: $headers-font;
}

p {
  font-size: 16px;
}

.search-box {
  opacity: 85%;
  text-align: left;
  color: white;
  height: auto;
  padding: 20px;
  position: absolute;
  display: block;
  background: linear-gradient(60deg, #0538FF 13.4%, #6B57F5 86.6%);
  border-radius: 10px;
  width: 900px;
  height: 210px;
  z-index: 15;
  top: 55%;
  left: 30%;
  margin: -100px 0 0 -150px;
}

.banner-text {
  position: relative;
  left: 2.5%;
}

.search-box-home {
  position: absolute;
  margin: auto;
  width: 50%;
  display: block;
  background: linear-gradient(60deg, #0538FF 13.4%, #6B57F5 86.6%);
  border-radius: $border-radius-sm;
  bottom: -20px;
  left: 300px;
}

.footer {
  background-color: $gray;

}

.list-layout2 {
  overflow:hidden;
}

.list-contrast2 {
  display:inline-block;
}
