.home-image-container {
  position: relative;
}

.home-image-container img {
  width: 100%;
  object-fit: cover;
}

.home-search-bar {
  width: 50%;
  position: absolute;
  justify-content: center;
  top: 83%;
  left: 25%;
}

.home-banner-text {
  position: absolute;
  display: block;
  color: white;
  border-radius: 0 4em 0 0;
  width: 48%;
  opacity: 88%;
  margin-top: 0.75rem;
  right: 52%;
  bottom: 18%;
  background: linear-gradient(60deg, #008EAC 20%, #00D6EF 80.0%);
}

.footer {
  background-color: $gray;
}

.list-layout2 {
  overflow: hidden;
}

.list-contrast2 {
  display: inline-block;
}

ul li {
  list-style-type: none;
}
