.banner {
  display: block;
  width: 100vw;
  max-height: 600px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.centered {
  position: absolute;
  text-align: left;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 1px #000;
  display: block;
}

h1 {
  font-size: 50px;
}

h2{
  font-size: 30px;
  font-family: $headers-font;
  text-shadow: 0.1px 0.1px 0.1px #000;
}

p {
  font-size: 16px;
}

.search-box {
  position: absolute;
  margin: auto;
  width: 50%;
  display: block;
  background: linear-gradient(60deg, #0538FF 13.4%, #6B57F5 86.6%);
  border-radius: 10px;
}
