<div class= "row">
    <% @boats.each do |boat| %>
      <div class= "col-4">
        <div class="card-trip mt-3">
          <% boat.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fit %>
          <% end %>
          <div class="card-trip-infos">
            <div>
            <h2><%= boat.name %></h2>
            <p><%= truncate(boat.description, :length => 50) %></p>
          </div>
          <h2 class="card-trip-pricing">£ <%= boat.price %>.00</h2>
        </div>
      </div>
    </div>
    <% end %>
  </div>
