<footer class="main-footer">
  <div class="container">
    <div class="row content1">
      <div class="col-md-2 offset-md-2 hidden-sm-down">

      </div>

    <div class="content-small hidden-md-up">
      <h2 class="pt-3">FloatYaBoat</h2>
      <ul class="list-layout">
        <li class="list-contrast list"><a href="">About</a></li>
        <li class="list-contrast list"><a href="">Careers</a></li>
        <li class="list-contrast list"><a href="">Press</a></li>
        <li class="list-contrast list"><a href="">Blog</a></li>
        <li class="list-contrast list"><a href="">Terms & Privacy</a></li>
      </ul>
    </div>


    <div class="text-center content2">
      <ul class="list-layout2 list-inline">
        <li class="list-contrast2"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li class="list-contrast2"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li class="list-contrast2"><a href="#"><i class="fa-brands fa-google-plus"></i></i></a></li>
        <li class="list-contrast2"><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        <li class="list-contrast2"><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
        <li class="list-contrast2"><a href=""><i class="fa-brands fa-youtube-play"></i></a></li>
      </ul>
      <p class="border-top pt-3">&copy; FloatYaBoat, All rights reserved.</p>
    </div>
  </div>
</footer>
