<div class="container">
<%= form_tag boats_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a boat"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
