<div class= "p-3">
  <%= form_tag boats_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Where would you like your boat?"
  %>
  <%= submit_tag "Search", style: "font-weight:600", class: "btn btn-info text-black" %>
  <% end %>
</div>
