<div class= "p-3">
  <%= form_tag boats_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control shadow-sm",
    placeholder: "Search"
  %>
  <input type="image" src="<%= asset_path('search_icon.svg') %>" class="search__img"/>
  <% end %>
</div>
