<div class="container">
  <img class="img-fluid img-responsive w-100" src="<%= asset_path('banner.svg') %>" style="width:100%;">
  <h1>It's time to Float Your Boat!</h1>
  <h2>The best solution for your boat hire plans</h2>
  <button type="button" class="btn btn-light">
  <%= link_to "Discover", boats_path %>
  </button>
<br>
<br>
<%= render "shared/search" %>
<% @boats.each do |boat| %>
<p><%= boat.name %></p>
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
