<div class="search-bar mt-5 p-3 p-lg-1 ps-lg-4 bg-white border">
    <form action="#">
      <div class="row">
        <div class="col-lg-4 d-flex align-items-center form-group">
          <input class="form-control border-0 shadow-0" type="text" name="search" placeholder="Where would you like to go boating?">
        </div>
        <div class="col-lg-3 d-flex align-items-center form-group">
          <div class="input-label-absolute input-label-absolute-right w-100">
            <label class="label-absolute" for="location"><span class="sr-only">City</span></label>
            <input class="form-control border-0 shadow-0" type="text" name="date" placeholder="Any date?" id="date">
          </div>
        </div>
        <div class="col-lg-3 d-flex align-items-center form-group">
          <div class="input-label-absolute input-label-absolute-right w-100">
            <label class="label-absolute" for="location"><span class="sr-only">City</span></label>
            <input class="form-control border-0 shadow-0" type="text" name="type" placeholder="Any type?" id="type">
          </div>
        </div>
        <div class="col-lg-2 d-grid">
          <button class="btn btn-primary rounded-pill h-100" type="submit">Search </button>
        </div>
      </div>
    </form>
  </div>

 <h1>This is a test</h1>
