<div class="container">
  <img class="img-fluid img-responsive w-100" src="<%= asset_path('banner.svg') %>" style="width:100%;">
  <h1>It's time to Float Your Boat!</h1>
  <h2>The best solution for your boat hire plans</h2>
  <%= link_to "See all boats", boats_path %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
