.search-box-index {
  padding: 0 24px;
  position: absolute;
  margin: auto;
  width: 30%;
  top: 0px;
  left: 35%
}

.form_control {
  position: absolute;
  padding: 0px 16px;
  width: 100%;
  height: 100px;
  background: transparent;
  border: 1px solid #E1E7ED;
  box-sizing: border-box;
  border-radius: $border-radius-lg;
}

.search__img {
  position: relative;
  left: -38px;
  top: 1px;
}
