<div class="container">
    <% if @boat.reviews.present? %>
      <h2><%= @boat.reviews.count %> Reviews</h2>
    <% else %>
      <p>No reviews yet</p>
    <% end %>
    <% if @boat.reviews.present? %>
      <% @boat.reviews.each do |review| %>
        <p>Rating: <%= review.rating%></p>
        <p>Comment: <%= review.content %></p
        <% end %>
      <% end %>
</div>
