<% @boat.each do |b| %>
<p><%= b.name %></p>
<p><%= b.type %></p>
<p><%= b.category %></p>

<%= link_to 'Delete',
  boat_path(@boat),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
